@font-face {
  font-family: "PingFang SC";
  font-weight: 100;
  src: local("PingFang SC Thin");
  src:
    /*url('./assets/font/PingFangSCThin.eot?#font-spider') format('embedded-opentype'),*/
    /*url('./assets/font/PingFangSCThin.woff') format('woff'),*/
    url('./assets/font/PingFangSCThin.ttf') format('truetype');
    /*url('./assets/font/PingFangSCThin.svg') format('svg');*/
  font-style: normal;
}

@font-face {
  font-family: "PingFang SC";
  src: local("PingFang SC Light");
  font-weight: 300;
  src:
    /*url('./assets/font/PingFangSCLight.eot?#font-spider') format('embedded-opentype'),*/
    /*url('./assets/font/PingFangSCLight.woff') format('woff'),*/
    url('./assets/font/PingFangSCLight.ttf') format('truetype');
    /*url('./assets/font/PingFangSCLight.svg') format('svg');*/
  font-style: normal;
}

@font-face {
  font-family: "PingFang SC";
  font-weight: 400;
  src: local("PingFang SC Regular");
  src:
    /*url('./assets/font/PingFangSCRegular.eot?#font-spider') format('embedded-opentype'),*/
    /*url('./assets/font/PingFangSCRegular.woff') format('woff'),*/
    url('./assets/font/PingFangSCRegular.ttf') format('truetype');
    /*url('./assets/font/PingFangSCRegular.svg') format('svg');*/
  font-style: normal;
}

@font-face {
  font-family: "PingFang SC";
  font-weight: 500;
  src: local("PingFang SC Medium");
  src:
    /*url('./assets/font/PingFangSCMedium.eot?#font-spider') format('embedded-opentype'),*/
    /*url('./assets/font/PingFangSCMedium.woff') format('woff'),*/
    url('./assets/font/PingFangSCMedium.ttf') format('truetype');
    /*url('./assets/font/PingFangSCMedium.svg') format('svg');*/
  font-style: normal;
}

@font-face {
  font-family: "PingFang SC";
  font-weight: 700;
  src: local("PingFang SC Semibold");
  src:
    /*url('./assets/font/PingFangSCSemibold.eot?#font-spider') format('embedded-opentype'),*/
    /*url('./assets/font/PingFangSCSemibold.woff') format('woff'),*/
    url('./assets/font/PingFangSCSemibold.ttf') format('truetype');
    /*url('./assets/font/PingFangSCSemibold.svg') format('svg');*/
  font-style: normal;
}

@font-face {
  font-family: "PingFang SC";
  font-weight: 800;
  src: local("PingFang SC Heavy");
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  font-family: "PingFang SC","lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 300;
}

.wrap {
  min-width: 1200px;

  overflow-x: hidden;
}

.nav-fixed-up,
.nav-fixed-up-white {
  min-width: 1200px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 51px 169px 15px 171px;

  box-sizing: border-box;
  z-index: 999;
}

.nav-fixed-up-white {
  background-color: #fff;
  box-shadow: 0px 2px 100px #eee;
}

.nav-tabs{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.nav-tab {
  margin-left: 66px;
  width: 65px;
  height: 25px;
  text-align: center;

  color: #9b9b9b;
  font-size: 16px;
  font-weight: 500;
}

.nav-tab:hover {
  color: #fff;
}

.nav-tab-active {
  font-weight: 500;
  color: #fff;
  background: url("assets/icon/active-white.png") no-repeat 50% 100%/43px 5px;
}

.nav-logo {
  width: 182px;
  height: 30px;

  background: url("assets/LOGO/LOGO-normal.png") no-repeat 0 0/182px 30px;
}
.nav-fixed-up-white .nav-tab-active {
  font-weight: 500;
  color: #000;
  background: url("assets/icon/active-black.png") no-repeat 50% 100%/43px 5px;
}

.nav-fixed-up-white .nav-logo {
  width: 182px;
  height: 30px;

  background: url("assets/LOGO/LOGO-black.png") no-repeat 0 0/182px 30px;
}
.nav-fixed-up-white .nav-tab:hover {
  color: #000;
}

.about-items {
  height: 450px;
  width: 1176px;
  margin: 0 auto;

  text-align: center;
  color: #000;
}

.about-items-title {
  margin-top: 24px;

  font-size: 40px;
}

.about-items-subtitle {
  margin-top: 79px;

  font-size: 16px;
  color: #9b9b9b;
}

.about-items-p {
  margin-top: 137px;
  
  font-size: 24px;
  font-weight: 100;
}

.about-icon {
  margin: 225px auto 0 auto;
  width: 262px;
  height: 32px;


  background: url("assets/image/wearehere.png") no-repeat 0 0/262px 32px;

}

.about-map {
  width: 1199px;
  height: 345px;
  margin: 142px auto 80px auto;

  background: url("assets/image/map.png") no-repeat 0 0/1199px 345px;
}

.about-bg {
  background: url("assets/banner/about-bg.jpg") no-repeat 0 0/182px 30px;
}
.join-bg {
  background: url("assets/banner/join-bg.jpg") no-repeat 0 0/182px 30px;
}
.server-bg {
  background: url("assets/banner/server-bg.jpg") no-repeat 0 0/182px 30px;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  height: 550px;
  width: 100%;
  text-align: center;

  background-position: center;
  background-size: cover;
  color: #fff;
}

.main-header-title {
  padding-top: 373px;

  font-size: 45px;
}

.main-header-subtitle {
  margin-top: 10px;

  font-size: 25px;
}

.page-content {
  width: 100%;
  height: 100vh;
  padding-top: 81px;

  background-color: #fff;
}

.page-content-subtitle {
  margin-top: 30px;

  font-size: 16px;
  color: #9b9b9b;
}

.page-content-title {
  margin-top: 24px;

  font-size: 45px;
  font-weight: 100;
}

.page-content-subtitle, .page-content-title {
  width: 100%;

  text-align: center;
}

.service-area-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 174px;
}

.service-area-items {
  display: flex;
  height: 480px;
  width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-area-p, .service-area-title {
  display: flex;

}

.service-area-p {
  font-size: 20px;
  color: #9b9b9b;
}

.service-area-title {
  margin-bottom: 41px;

  font-size: 26px;
  color: #6f9ef8;
}

.service-area-icon-a,
.service-area-icon-b,
.service-area-icon-c {
  width: 171px;
  height: 171px;
  margin-bottom: 78px;
}

.service-area-icon-a {
  background: url("assets/icon/service-area-icon-a.png") no-repeat 0 0/171px 171px;
}

.service-area-icon-b {
  background: url("assets/icon/service-area-icon-b.png") no-repeat 0 0/171px 171px;
}

.service-area-icon-c {
  background: url("assets/icon/service-area-icon-c.png") no-repeat 0 0/171px 171px;
}

.home-page-bg {
  background: url("assets/banner/home-page-background.jpg") no-repeat 0 0/100vw 110vh;
  background-position: center;
  background-size: cover;
}

.home-page {
  width: 1200px;
  margin: 0 auto;
  padding-top: 12%;


  color: #fff;
}

.home-page-title {
  height: 112px;

  font-size: 80px;
  line-height: 112px;
  font-weight: 500;
}

.home-page-subtitle {
  height: 49px;
  margin-bottom: 84px;

  font-size: 35px;
  line-height: 49px;
}

.home-page-line {
  font-size: 20px;
  margin-bottom: 18px;
  font-weight: 400;

}

.home-page-button {
  display: inline-block;
  margin-top: 103px;
  width: 175px;
  height: 50px;

  background: url("assets/button/button-normal.png") no-repeat 0 0/175px 50px;
}

.button-blue {
  width: 175px;
  height: 50px;
  margin-top: 72px;

  background: url("assets/button/button-blue.png") no-repeat 0 0/175px 50px;
}

.other-page-content {
  display: flex;
  width: 1200px;
  height: 500px;
  margin: 0 auto;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.other-page {
  width: 360px;
}

.other-page-title {
  margin-bottom: 13px;

  font-size: 30px;
}

.other-page-subtitle {
  margin-bottom: 39px;

  font-size: 20px;
  font-weight: 100;
  color: #9b9b9b;
}

.other-page-p {
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  color: #9b9b9b;
}

.footer {
  width: 100%;
  background-color: #312f30;
  color: #fff;
}

.footer-top {
  display: flex;
  width: 1200px;
  height: 150px;
  margin: 0 auto;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-special,
.footer-item,
.tel-tille,
.tel-num {
}

.footer-item {
  margin-bottom: 5px;
}

.footer-special {
  margin-bottom: 20px;
}

.footer-bottom{
  height: 50px;
  width: 100%;
  border-top: 1px solid #555;
}

.footer-left {
  text-align: right;
}

.tel-tille {
  font-size: 15px;
}

.tel-num {
  margin-right: -5px;

  font-size: 38px;
}

.tel-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 13px;
  background: url("assets/icon/tel.png") no-repeat 0 0/20px 20px;
}

.recruitment-notice {
  margin-top: 73px;
  width: 100%;

  text-align: center;
  font-size: 35px;
  font-weight: 100;
}

.card-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 145px;
}
.card-box-column {
  width: 550px;
  margin: 0 50px;
}

.card-item {
  padding: 37px 46px 39px 45px;
  margin-bottom: 100px;
  
  box-shadow: 4px 4px 50px 5px #eee;
}

.card-item-title {
  margin-bottom: 35px;

  font-size: 20px;
  color: #78a4f9;
}

.card-item-title span {
  font-size: 40px;
  font-weight: 300;
}

.card-item-content li {
  margin-bottom: 11px;

  font-weight: 100;
}

.card-item-content span {
  display: inline-block;
  font-weight: 700;

  margin-bottom: 11px;
  margin-left: -8px;
}

.server-item-box {
  height: 1000px;
  padding-top: 79px;

  text-align: center;
}

.service-item-subtitle {
  margin-bottom: 23px;

  font-size: 16px;
  color: #9b9b9b;
}
.service-item-title {
  margin-bottom: 203px;

  font-size: 45px;
  font-weight: 100;
}

.server-image-a {
  width: 700px;
  height: 547px;
  background: url("assets/serverpage-image/a.jpg") no-repeat 0 0/700px 547px;
}

.server-image-b {
  width: 700px;
  height: 547px;
  background: url("assets/serverpage-image/b.jpg") no-repeat 0 0/700px 547px;
}

.server-image-c {
  width: 700px;
  height: 547px;
  background: url("assets/serverpage-image/c.jpg") no-repeat 0 0/700px 547px;
}

.server-image-a,
.server-image-b,
.server-image-c {
  display: flex;
}

.service-show-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.list-wrap {
  display: flex;
  text-align: left;
  margin: 0 37px;
  width: 400px;

  font-size: 20px;
}

.list-wrap li {
  margin-bottom: 48px;
}

.card-image-a,
.card-image-b,
.card-image-c,
.card-image-d,
.card-image-e,
.card-image-f {
  width: 533px;
  height: 300px;
}

.card-image-a {
  background: url("assets/image/a.jpg") no-repeat 0 0/700px 547px;
}
.card-image-b {
  background: url("assets/image/b.jpg") no-repeat 0 0/700px 547px;
}
.card-image-c {
  background: url("assets/image/c.jpg") no-repeat 0 0/700px 547px;
}
.card-image-d {
  background: url("assets/image/d.jpg") no-repeat 0 0/700px 547px;
}
.card-image-e {
  background: url("assets/image/e.jpg") no-repeat 0 0/700px 547px;
}
.card-image-f {
  background: url("assets/image/f.jpg") no-repeat 0 0/700px 547px;
}

.card-stage {
  position: relative;
  width: 100%;
  height: 100%;

}

.show-card {
  width: 533px;
  height: 639px;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;

  border: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 4px 4px 50px 5px #eee;
  background-color: #fff;
}

.card-title {
  margin-top: 63px;

  font-size: 24px;
}

.card-p {
  width: 400px;
  margin: 54px auto 0 auto;

  line-height: 40px;
  font-size: 20px;
  color: #9b9b9b;
}

.position-0 {
  transform: translate(-110%, -50%) scale(0.5,0.5);
  z-index: 100;
}

.position-1 {
  transform: translate(-80%, -50%) scale(0.75,0.75);
  z-index: 150;
}

.position-2 {
  transform: translate(-50%, -50%) scale(1,1);
  z-index: 200;
}

.position-3 {
  transform: translate(-20%, -50%) scale(0.75,0.75);
  z-index: 150;
}

.position-4 {
  transform: translate(10%, -50%) scale(0.5,0.5);
  z-index: 100;
}

.position-5 {
  transform: translate(10%, -50%) scale(0.5,0.5);
  z-index: 90;
}

.home-page-button:hover,
.button-blue:hover {
  background: url("assets/button/button-hover.png") no-repeat 0 0/175px 50px;
}