.content {
  padding-top: 70px;
  color: #333;
  font-size: 16px;
}

.us-button-left {
  position: absolute;
  left: 0;
}

.us-button {
  margin-bottom: 4px;
  width: 138px;
  height: 42px;
  background: #e5e5e5;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
  color: #fff;
}

.us-button:not(.us-button-active):hover {
  background: #fff;
  color: #66cecc;
  cursor: pointer;
}

.us-button-active {
  width: 161px;
  height: 56px;
  background: #66cecc;
  font-size: 27px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.aboutus-title {
  display: block;
  margin: 123px auto 100px;
  height: 58px;
  width: 282px;
}

.joinus-title {
  display: block;
  margin: 76px auto 67px;
  height: 58px;
  width: 223px;
}

.tab-content {
  position: relative;
  width: 100%;
}

.recruitment-tab { display: none; }

.tab-label {
  display: inline-block;
  padding-bottom: 14px;
  margin-left: -0.25em;
  width: 304px;
  border-bottom: 7px solid #e5e5e5;
  color: #b9bcbb;
  font-size: 23px;
  text-align: center;
}

.trainee-tab-label {
  margin-left: 219px;
}

.tab-label:hover {
  color: #66cecc;
  cursor: pointer;
}

.tab-content-trainee, .tab-content-fulltime {
  position: absolute;
  top: 0;
  left: 0;
  padding: 107px 0 168px 128px;
  opacity: 0;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.trainee-tab:checked ~  .trainee-tab-label,
.fulltime-tab:checked ~ .fulltime-tab-label {
  color: #66cecc;
  border-bottom: 7px solid #66cecc;
}

.trainee-tab:checked ~ .tab-content .tab-content-trainee,
.fulltime-tab:checked ~ .tab-content .tab-content-fulltime {
  position: relative;
  opacity: 1;
  -webkit-transition: all ease-out 0.2s 0.1s;
  -o-transition: all ease-out 0.2s 0.1s;
  transition: all ease-out 0.2s 0.1s;
}

.tab-content-title {
  color: #5b647a;
  font-size: 20px;
}

.tab-content-list {
  color: #333;
  margin-left: 19px;
  margin-bottom: 24px;
}

.tab-content-hr {
  margin-top: 60px;
  color: #66cecc;
  font-size: 23px;
}

.aboutus-content {
  padding: 0 91px;
}

.aboutus-content-2 {
  padding: 27px 0;
}

.culture-title {
  display: block;
  margin: 100px auto 58px;
  height: 58px;
  width: 256px;
}

.culture-content {
  padding: 0 79px 250px;
}